# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/factory-contract/node_modules
/router-contract/node_modules
/sdk-moo-testnet/node_modules
/testcontract/node_modules
/token-list-testnet/node_modules
/usdt/node_modules
/weth9/node_modules
/factory-contract
/router-contract
/sdk-moo-testnet
/testcontract
/token-list-testnet
/usdt
/weth9
Address.txt

# testing
/coverage


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/.netlify

npm-debug.log*
yarn-debug.log*
yarn-error.log*

notes.txt
.idea/

.vscode/

package-lock.json

cypress/videos
cypress/screenshots
cypress/fixtures/example.json